<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Data Analyst | Project Manager</h2>
                <style>
  .centered-hr {
    text-align: center;
  }
  .centered-hr hr {
    display: inline-block;
    width: 50%; /* Adjust width as needed */
  }
</style>

<div class="centered-hr">
  <hr class="light">
</div>

                <p class="text-faded">An MSc Engineering Management and BEng Biomedical Engineering graduate with experience in the Healthcare, Electric Vehicle, Telecommunications, Utilities, and Customer Service industries. My academic background and work experiences, complemented by Google Professional Certificates in Data Analytics, Advanced Data Analytics and Project Management, have equipped me with skills in data collection, cleaning, transformation, and organisation, performing effective analysis using spreadsheets, SQL, Python, and R programming, creating data visualisations using Tableau, RStudio and Power BI and applying statistical methods to investigate data. I am proficient in building regression and machine learning models to interpret data and effectively communicating insights to stakeholders through detailed dashboards.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
