<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Portfolio</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="Case-Study-1_How-does-a-bike-shared-navigate-speedy-succe.pdf" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/Bike_Share.jpg" class="img-responsive" alt="" style="width: 150%; height: 250px; object-fit: cover;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Analysis with R
                            </div>
                            <div class="project-name">
                                Bike Share Case Study
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="Case-Study-2_-How-can-a-wellness-technology-company-play-.pdf" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/Wellness_Tech.jpg" class="img-responsive" alt="" style="width: 150%; height: 250px; object-fit: cover;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Analysis with R
                            </div>
                            <div class="project-name">
                                Wellness Technology Case Study
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="Showcasing_My_R_Proficiency.pdf" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/R_programming.jpg" class="img-responsive" alt="" style="width: 150%; height: 250px; object-fit: cover;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Analysis with R
                            </div>
                            <div class="project-name">
                                Showcasing my R Prowess
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;"> <!-- Adjust the margin-top value as needed for spacing -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="https://github.com/Azizah-Giwa/TikTok-Project/blob/main/README.md" class="portfolio-box">
                    <img src="img/TikTok_Project.jpg" class="img-responsive" alt="" style="width: 150%; height: 250px; object-fit: cover;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Machine Learning Project
                            </div>
                            <div class="project-name">
                                TikTok Predictive Modeling Project
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="https://github.com/Azizah-Giwa/Waze-Project/blob/main/README.md" class="portfolio-box">
                    <img src="assets/Waze_Logo.webp" class="img-responsive" alt="" style="width: 150%; height: 250px; object-fit: cover;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Machine Learning Project
                            </div>
                            <div class="project-name">
                                Waze User Churn Prediction Project
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="" style="width: 150%; height: 250px; object-fit: cover;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
