<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Interests</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-database wow bounceIn text-primary"></i>
                    <h3>Data Analytics</h3>
                    <p class="text-muted">I am passionate about data analytics because it empowers me to transform complex data into actionable insights, driving informed decision-making and strategic growth. My enthusiasm for uncovering patterns and trends fuels my commitment to leveraging data for impactful solutions.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-analytics wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Data Visualisation</h3>
                    <p class="text-muted">I am deeply passionate about data visualization, as it transforms complex data into intuitive visual insights, enabling clear and impactful decision-making. My enthusiasm lies in creating compelling visual narratives that drive understanding and strategic action.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Machine Learning & Artificial Intelligence</h3>
                    <p class="text-muted">I am fascinated by ML and AI, as they offer powerful tools for creating intelligent systems that can learn, adapt, and make data-driven decisions. My interest lies in leveraging these technologies to solve complex problems and drive innovation.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Leadership</h3>
                    <p class="text-muted">I am passionate about leadership and motivated by the opportunity to inspire and guide teams towards achieving their full potential and organisational goals.</p>
                </div>
            </div>
        </div>
    </div>
</section>
